.container {
  margin-top: 5%;
  /*background-color: red;*/
  height: 100vh;
  width: 100vw;
  padding: 10px 0 0 0;
  margin: 0;
  border-color: #43BEB6;
}

#or {
  text-align: center;
  font-style: italic;
}

#loginBtn, #userBox, #passwordBox, #formHeader {
  background: #43BEB6;
  border-color: #43BEB6;
}

#signUpBtn {
  background: white;
  border-color: #43BEB6;
  color: black;
}

.panel-primary {
  border-color: #43BEB6;
  box-shadow: 2px 2px 2px lightgray;
}

#currLatitude {
  display: none;
}

#currLongitude {
  display: none;
}
